.jifty.results.messages {
    float:left;
    width: 100%;
}

.buttons {
    float: left;
    margin-left: 50%;
}

.buttons {
    position: relative;
    left: 50%;
    margin-left: 0;
}

.buttons ul {
    position: relative;
    margin-left: -50%;

    list-style: none;
}

.buttons li {
    display: block;
    float: left;
    margin-right: 15px;
}

.buttons a.huge.button {
    display: block;
    text-align: center;
    font-size: 4em;

    color: black;
    background: orange;

    padding: 0.3em;
    -moz-border-radius: 0.3em;
    border: 5px solid #333;

    text-decoration: none;
}

.buttons a.huge.button:hover {
    background: darkorange;
    color: white;
    border: 5px solid #000;
}

div.warning {
    top:0;
    left: 0;
    width: 13em;
    border: 1px solid black;
    font-size: 0.8em;
}

div#navigation {
    width: 100%;
    height: auto;
    float : left;
    position: relative;
    top: -40px;
    left: 0px;
    background: #fff;
    font-size: 1.4em;
    padding: 0;
    margin: 1em 0;
}
div#navigation ul.menu {
    position: relative;
    float: left;
    clear: left;
    left: 50%;
    text-align:center;
    width: auto;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
div#navigation ul.menu li {
    position: relative;
    right: 50%;
    float: left;
    margin-right: 1.2em;
    border: none;
}
div#navigation ul.menu li a {
    border: none;
    background: #fff;
    color: #000;
    font-size: 1.5em;
}

div#navigation ul.menu li.active a:link,
div#navigation ul.menu li.active a:visited,
div#navigation ul.menu li.active a:hover,
div#navigation ul.menu li a:hover {
    background: #fff;
    color: #911;
}

#salutation {
    display:block;
    position: absolute;
    top: 0.5em;
    right: 0em;
    width: 240px;
    color:red;
    font-size: 1.5em;
    line-height: 1.5em;
}

#content {
    width: 950px;
    margin: 16px auto 0 auto;
}

h1.title {
    padding-bottom: 0.3em;
    border-bottom: 2px solid #eee;
}

/* CRUD List */
div.list {
    padding-top: 2em;
}

div.list div.controls {
    float: left;
    margin: 5px 15px 15px 0;
}

div.list div.controls a {
    display: block;
    margin: 0 15px 0.5em 0;
}

div.list .commodity.pic {
    float:left;
    width: 80px;
    height: 80px;
    overflow:hidden;
    margin-right: 15px;
}

div.list .controls > div {
  float: left;
  margin-right: 15px;
}

/* */

table.list {
    width: 100%;
    margin: 1em 0;
    border-collapse: collapse;
}

table.list td {
    border: 1px solid #aaa;
    padding: 0.5em;
}

table.list span.commodity.name {
    display: block;
    text-align: center;
}


/* CRUD style customization */
div.crud.create.item.inline,
div.crud.update.item.inline {
    background: #ccf;
    padding: 0 1em;
    font-size: 1.5em;
    border: 1px solid #eef;
    -moz-border-radius: 5px;
}

#region-Provider-list-new_item hr,
div.crud.update.item.inline hr {
    visibility: hidden;
}

div.controls {
    margin: 0 0 1em 0;
}

div.controls div.submit_button {
    float: left;
    margin-right: 15px;
    clear: none;
}

div.clearfix:after {
    content: '.';
    visibility: hidden;
    clear: both;
}

table.list td img {
    vertical-align: middle;
    margin-right: 15px;
}

table.stock.list {
    font-size: 1.5em;
}

.crud-Commodity > a,
.crud-Provider > a,
.crud-Consumer > a {
   float: left;
   width: auto;
   display: block;
   margin-right: 15px;
   padding: 5px;
   background: #f0f0f0;
   border: 1px solid #aaa;
   color: #000;
   text-decoration: none;
}

.crud.create.item.inline {
    clear: both;
}

div.list {
    clear: both;
}

div.list .form_field {
   width: 160px;
}

div.list .view-argument-pic {
    display: none;
}

div.list .quantities {
    width: 120px;
}
div.list .quantities span {
    font-size: 2em;
}

div.list>.jifty-region {
    margin-bottom: 2em;
}

hr {
    clear: both;
    margin: 1em 0;
    border-color: #fff;
}

div.form_field label.label, div.form_field span.label {
    float: left;
    width: auto;
    text-align: right;
    font-size: 80%;
    padding: 0.2em 0.5em 0 0;
}


.yuimenubar {
    font-size: 2em;
}

.view-argument {
    float: left;
}

.view-argument.stock-number {
    background: #eef;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.view-argument.stock-number .form_field {
    width: auto;
}

table.view {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 120%;
}

table.view td {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

table.view tr:last-child,
table.view tr:first-child {
    background: #ccf;
}
table.view tr:first-child td {
    font-weight: bold;
}
table.view tr:nth-child(2n+3) {
    background: #eef;
}
table.view tr.summary {
    background: #eef;
}

table.view td.key {
    text-align: right;
    font-weight: bold;
}

.update {
    width: 400px;
    float: left;
    background: #cfc;
    padding: 1em;
}

.update .form_field {
    margin: 0.5em 1em;
}


.update .form_field label {
    width: 120px !important;
}

.update .form_field .label {
    font-size: 120%;
    font-family: italic;
}

.update .form_field span {
    float:none;
    display: block;
    margin-left: 130px;
    color: #33c;
    font-size: 1em;
}

.update h3 {
    margin: 0;
    border-bottom: 3px double #999;
}

div.sale.controls,
div.supply.controls {
    margin: 0 0 1em 0;
    width: 135px;
    float: left;
}
div.sale.controls > div,
div.supply.controls > div {
    width: 120px;
    float: left;
    margin-right: 15px;
    margin-bottom: 1em;
}
div.sale.controls div.submit_button,
div.supply.controls div.submit_button {
    float: none;
}

.form_field.argument-quantity input.text,
.form_field.argument-retail_price input.text,
.form_field.argument-price input.text {
    width: 6em;
}
