.buttons {
    float: left;
    margin-left: 50%;
}

.buttons {
    position: relative;
    left: 50%;
    margin-left: 0;
}

.buttons ul {  
    position: relative;
    margin-left: -50%;

    list-style: none;
}

.buttons li {
    display: block;
    float: left;
    margin-right: 15px;
}

.buttons a.huge.button {
    display: block;
    text-align: center;
    font-size: 4em;

    color: black;
    background: orange;

    padding: 0.3em;
    -moz-border-radius: 0.3em;
    border: 5px solid #333;

    text-decoration: none;
}

.buttons a.huge.button:hover {
    background: darkorange;
    color: white;
    border: 5px solid #000;
}

div.warning {
    top:0;
    left: 0;
    width: 13em;
    border: 1px solid black;
    font-size: 0.8em;
}

div#navigation {
    width: 250px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    font-size: 1.4em;
}
div#navigation ul.menu {
    border: none;
    background: none;
}
div#navigation ul.menu li {
    float: left;
    margin-right: 1.2em;
    border: none;
}
div#navigation ul.menu li a {
    border: none;
    background: #fff;
    color: #000;
    font-size: 1.5em;
}

div#navigation ul.menu li.active a:link,
div#navigation ul.menu li.active a:visited,
div#navigation ul.menu li.active a:hover,
div#navigation ul.menu li a:hover {
    background: #fff;
    color: #911;
}

#salutation {
    display: none;
}

#content {
    width: 950px;
    margin: 50px auto 0 auto;
}

h1.title {
    padding-bottom: 0.3em;
    border-bottom: 2px solid #eee;
}

/* CRUD List */
div.list div.controls {
    float: left;
    margin: 5px 15px 0 0;
}

div.list div.controls a {
    display: block;
    margin: 0 15px 0.5em 0;
    padding: 0;
}

div.list .commodity.pic {
    float:left;
    width: 80px;
    height: 80px;
    overflow:hidden;
    margin-right: 15px;
}
/* */

table.list {
    width: 100%;
    margin: 1em 0;
    table-layout: fixed;
    border-collapsed: collapsed;
}

table.list td {
    border: 1px solid #aaa;
    padding: 0.5em;
}

table.list span.commodity.name {
    display: block;
    text-align: center;
}


/* CRUD style customization */
div#region-Provider-list-new_item,
div#region-Commodity-list-new_item {
    margin: 5px 0 15px 0;
    padding: 15px;
    border: 2px solid #000;
    -moz-border-radius: 5px;
}

div.crud.update.item.inline {
    background: #f3f3ff;
    padding: 1em;
    font-size: 1.5em;
    border: 1px solid #eef;
    -moz-border-radius: 5px;
}

div.crud.update.item.inline hr {
    visibility: hidden;
}